* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #E6F5F4;
  font-family: "PT Serif", serif;
}

section {
  padding-top: 31px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  line-height: 56px;
  color: #009688;
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin: 0;
}

.carousel__block {
  background: url("../images/dots.png"), linear-gradient(360deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%) #5ECABF;
  margin: 0 16px;
  height: 352px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-background-size: contain;
  background-size: contain;
  position: relative;
  cursor: pointer;
}
.carousel__block:before {
  content: "";
  background: #00645B;
  opacity: 0.3;
  -ms-filter: blur(12px);
  filter: blur(12px);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 56px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}
.carousel__block-vline {
  background: url("../images/line-v.png"), linear-gradient(360deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%) #5ECABF;
  -webkit-background-size: contain;
  background-size: contain;
}
.carousel__block-hline {
  background: url("../images/line-h.png"), linear-gradient(360deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%) #5ECABF;
  -webkit-background-size: contain;
  background-size: contain;
}
.carousel__block-green {
  background-color: #009688;
}
.carousel__block-green:before {
  background: #006452;
}
.carousel__block-orange {
  background-color: #EE7E4A;
}
.carousel__block-orange:before {
  background: #642A00;
}
.carousel__block p {
  position: absolute;
  padding: 0 32px;
  bottom: 28px;
  letter-spacing: 0.3px;
}

.slick-slider {
  padding-top: 7px;
  padding-bottom: 24px;
  position: relative;
}
.slick-slide {
  padding-bottom: 45px;
}
.slick-slide > div {
  display: flex;
  padding: 0 24px;
}
.slick-slide > div:last-child {
  margin-top: 32px;
}
.slick-arrow {
  position: absolute;
  bottom: 2px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}
.slick-disabled {
  opacity: 0.3;
  cursor: auto;
}
.slick-next {
  right: 38.7%;
}
.slick-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 38.7%;
  margin-bottom: 3px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: -12px 0 0 0;
  list-style: none;
}
.slick-dots button {
  border: none;
  font-size: 0;
  width: 6px;
  height: 6px;
  padding: 0;
  background: #009688;
  opacity: 0.25;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0 5px;
}
.slick-active button {
  width: 10px;
  height: 10px;
  opacity: 1;
}

@media (max-width: 1280px) {
  section {
    padding-top: 22px;
  }

  .container {
    width: 768px;
  }

  h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .carousel__block {
    height: 328px;
  }

  .slick-slide {
    padding-top: 6px;
  }
  .slick-next {
    right: 33%;
  }
  .slick-prev {
    left: 33%;
  }
}
@media (max-width: 776px) {
  section {
    padding-top: 10px;
  }

  body {
    margin: 0;
  }

  h1 {
    font-size: 28px;
    line-height: 40px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .container {
    width: 320px;
  }

  .carousel__block {
    height: 244px;
    margin: 0 8px;
  }

  .slick-slider {
    padding-top: 16px;
  }
  .slick-dots {
    margin: 21px 0 0 0;
  }
}

/*# sourceMappingURL=base.css.map */
